.form{
    display:grid;
}

textarea{
 display: inline-block;
 font-size:14px;
 border-radius: 5px;
 padding: 5px 5px;
 border: 2px solid lightgray;
 outline: none;
}
.postdate{
    background-color: #FFE4E1;
    width: 230px;
    margin-top: 10px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px 0px 10px 25px;
    display: inline-block;
}
.timestamp{
    font-size: 7px;
}